.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../assets/img/samples.jpg);
    background-size: cover;
    background-position: center;
    background-color: #000000bc;

    div {
        h1 {
            font-size: 4rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
}

.hero-content {
    text-align: center;
    color: white;
}

.title-container {
    margin-top: 60px;
    h2 {
        @include title-style;
    }
    p {
        @include content-style;
    }
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    p {
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
    img {
        border: solid $off-black 3px;
    }
}
  
.marketing h2 {
    font-weight: 400;
}
  
.bg-dark {
    background-color: $off-black;

}

.newsletter {
    background-color: #fff;
    padding: 40px;

}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding:20px;
    border-radius: 8px;
    box-shadow: $box-shadow;
    h2 {
        margin-bottom: 20px;
    }
}

