.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../assets/img/samples.jpg);
    background-size: cover;
    background-position: center;
    background-color: #000000bc;

    div {
        h1 {
            font-size: 4rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
}

.hero-content {
    text-align: center;
    color: white;
}


.section-title {
    text-align: center;
    font-size: rem;
    padding: 20px; 
}

.section-content {
    text-align: center;
    font-size: 1rem;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
  
.marketing h2 {
    font-weight: 400;
}
  
.marketing .col-lg-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}
  
.bgBoton {
    background-color: rgb(0, 0, 0);
}

.newsletter {
    background-color: #fff;
    padding: 20px;

}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h2 {
        margin-bottom: 20px;
    }
}

