.footer-redes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $greige-principal;
    text-decoration: none;
    color: $greige-principal;
    font-size: 1.5rem;
}

.footer-copyright {
    background-color: $off-black;
    text-align: center;
    color: $greige-principal;
    font-size: 1rem;
}

footer { 
    img {
    width: 30px;
    }
    div {
        padding: 10px;
    }
}